/* удаление кнопок "Открыть в Яндекс картах", "Создать свою карту", а также удаление плашки с условиями пользования Яндекс */
.ymaps-2-1-79-gotoymaps,
.ymaps-2-1-79-gototech,
.ymaps-2-1-79-gototaxi__container,
.ymaps-2-1-79-copyright__content {
  display: none !important;
}

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  margin: 0;
  color: black;
  background-color: white;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.view__map {
  position: relative;
  width: 100%;
  height: 100vh;
}

.view__nav{
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px 10px 40px;
  width: 33.33%;
  background-color: white;
  border-bottom-left-radius: 30px;
  box-shadow: 0px 0px 20px 0px #0000001f;
  outline: 1px solid black;
  z-index: 1;
}

.view__list{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.view__add-object-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.view__add-object-menu-img {
  transform: rotate(45deg);
}

.view__add-object-menu,
.view__account-menu,
.view__add-information-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 20px 20px 30px 40px;
  width: 33.33%;
  background-color: white;
  border-bottom-left-radius: 30px;
  box-shadow: 0px 0px 20px 0px #0000001f;
  outline: 1px solid black;
  z-index: 2;
  transform: translateY(-101%);
  transition: transform 0.3s;
}

.menu-is-active {
  transform: none;
}

.view__title {
  margin: 0;
  text-align: center;
}

.view__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-top: 20px;
  width: 100%;
}

.view_input,
.view__textarea {
  padding: 10px;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}

.view__textarea{
  width: 98%;
  height: 225px;
  resize: none;
}

.view__account-section{
  width: 100%;
}

.view__account-btn,
.baloon__information-btn{
  margin-top: 13px;
  font-size: 10px;
  color: blue;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.view__account-btn{
  margin-top: 8px;
  font-size: 12px;
}

.choices {
  margin: 0;
  width: 100%;
}

#choices--selectCustom-item-choice-1 {
  display: none;
}

.view__form-btn,
.baloon__btn{
  display: inline-block;
  margin: 0;
  padding: 15px 0;
  width: 40%;
  color: white;
  background-color: black;
  border: none;
  outline: 1px solid black;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s, outline 0.3s, color 0.3s;
}

.view__form-btn_add-img{
  margin-top: 20px;
  margin-left: 5px;
  width: 50px;
  height: 50px;
  background-image: url(../img/add_photo_white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  transition: background-image 0.3s
}

.view__form-btn_white{
  color: black;
  background-color: white;
}

.swiper {
  width: 100%;
  height: 300px;
}

.swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.baloon__title{
  line-height: 1;
}

.baloon__btn{
  width: 98%;
  margin-left: 1px;
}

.view__form-btn:hover,
.baloon__btn:hover{
  background-color: white;
  color: black;
}

.view__form-btn_white:hover{
  background-color: black;
  color: white;
}

.view__form-btn_add-img:hover {
  background-image: url(../img/add_photo_black.svg);
}

.view__form-btn:active,
.baloon__btn:active{
  background-color: rgb(58, 58, 58);
  outline: 1px solid rgb(58, 58, 58);
  color: white;
}

.view__form-btn_add-img:active {
  background-image: url(../img/add_photo_white.svg);
}

.customScroll{
  width: 100%;
  height: 310px;
}

.view__picture-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
}

.view__picture-item{
  display: flex;
  justify-content: center;
}

.view__picture-group{
  position: relative;
  width: 75px;
  height: 75px;
}

.view__picture-preview {
  padding-bottom: 20px;
  width: 75px;
  height: 75px;
}

.view__picture-remove {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
}